<nav class="navbar">

  <div class="left">
    <span class="logo" routerLink="/">Aveva</span>

    <!-- Logged IN -->
    @if (auth.isLoggedIn()) {
      <a routerLink="/upload">Upload</a>
      <a routerLink="/dashboard">Dashboard</a>
      <a routerLink="/admin">Admin</a>
    }

    <!-- Logged OUT -->
    @if (!auth.isLoggedIn()) {
      <a routerLink="/login">Login</a>
      <a routerLink="/signup">Signup</a>
    }
  </div>

  <div class="right">
    <mat-slide-toggle
      (click)="toggleTheme()"
      class="my-toggle">
    </mat-slide-toggle>

    @if (auth.isLoggedIn()) {
      <button (click)="logout()">Logout</button>
    }
  </div>

</nav>
