<nav class="navbar">

  <div class="left">
    <span class="logo" routerLink="/">Aveva</span>

    @if (auth.isLoggedIn() && auth.isUser()) {
      <a routerLink="/upload">Upload</a>
    }

    
    @if (auth.isLoggedIn() && auth.isAdmin()) {
      <a routerLink="/admin">Admin</a>
    }
    
    @if (auth.isLoggedIn()) {
      <a routerLink="/dashboard">Dashboard</a>
    }


    @if (!auth.isLoggedIn()) {
      <a routerLink="/login">Login</a>
      <a routerLink="/signup">Signup</a>
    }
  </div>

  <div class="right">
    <mat-slide-toggle (click)="toggleTheme()" class="my-toggle"></mat-slide-toggle>

    @if (auth.isLoggedIn()) {
      <button (click)="logout()">Logout</button>
    }
  </div>


</nav>
