<section class="jobs-page">

  <div class="toolbar">
    <h2>Job Queue</h2>

    <div class="filters">
      <button class="secondary" (click)="setStatus(null)">All</button>
      <button class="secondary" (click)="setStatus(JobStatus.COMPLETED)">Completed</button>
      <button class="secondary" (click)="setStatus(JobStatus.INVALID)">Invalid</button>
      <button class="secondary" (click)="setStatus(JobStatus.PROCESSING)">Processing</button>
      <button class="secondary" (click)="setStatus(JobStatus.PENDING)">Pending</button>
      <button class="secondary" (click)="setStatus(JobStatus.FAILED)">Failed</button>
    </div>
  </div>

  <div class="table">

    <div class="row header">
      <div>ID</div>
      <div>Status</div>
      <div>Retries</div>
      <div>Created</div>
      <div>Actions</div>
    </div>

    @for (job of jobs(); track job.id) {
      <div class="row">

        <div class="mono">
          {{ job.id}}...
        </div>


        <div>
          <span class="status-badge"
            [class.pending]="job.status === JobStatus.PENDING"
            [class.processing]="job.status === JobStatus.PROCESSING"
            [class.failed]="job.status === JobStatus.FAILED"
            [class.completed]="job.status === JobStatus.COMPLETED"
            [class.invalid]="job.status === JobStatus.INVALID">
            {{ job.status }}
          </span>
        </div>

        <div>{{ job.retryCount }}</div>

        <div>{{ job.createdAt | date:'short' }}</div>

        <div class="actions">
          <button class="primary" (click)="viewJob(job.id)">
            View
          </button>

          @if (job.status === JobStatus.INVALID) {
            <button class="secondary" (click)="requeueJob(job.id)">
              Requeue
            </button>
          }
        </div>

      </div>
    } @empty {
      <p class="empty">No jobs found</p>
    }

  </div>

  <div class="pagination">
    <button class="secondary" (click)="prevPage()">Prev</button>
    <span>Page {{ page() }} / {{ totalPages() }}</span>
    <button class="secondary" (click)="nextPage()">Next</button>
  </div>

  @if (selectedJob()) {
    <div class="job-details">
      <h3>Job Details</h3>
      <pre>{{ selectedJob() | json }}</pre>
    </div>
  }

</section>
